<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Datos del Programador</title>
</head>
<body>

    <h1>Datos del Programador</h1>

    <p><strong>Nombre:</strong> Jancarlo Antonio Ramos López</p>
    <p><strong>Carné:</strong> 2025162</p>
    <p><strong>Código Técnico:</strong> IN5BM</p>
    <p><strong>Código Académico:</strong> PE5EM</p>

    <h2>¿Qué me gusta?</h2>
    <p>Tocar el piano</p>

    <br>
    <a href="/vehiculo">⬅ Regresar</a>

</body>
</html>

