<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Datos personales</title>
</head>
<body>

<a th:href="@{/edder}" class="btn">CATÁLOGO</a>

<h1>Datos Personales</h1>

<p><strong>Nombre:</strong> Edder Antonio Gonzalez Garcia</p>
<p><strong>Edad:</strong> 17 años</p>
<p><strong>Grado / Carrera:</strong> INFORMATICA 5 "B"</p>
<p><strong>Institución:</strong> Centro Educativo Técnico Laboral Kinal</p>
<p><strong>Lugar de residencia:</strong> Guatemala</p>

<h2>Sobre mí</h2>
<p>
    Hola, mi nombre es Edder González y esto es para que sepas un poco sobre mi<br>
    yo hice el apartado del audi para la pagina que trabajamos en conjunto<br>
    IN5BM
</p>

<h2>Cosas que me gustan</h2>
<ul>
    <li>Futbol</li>
    <li>Programar</li>
    <li>Escuchar música</li>
    <li>Jugar fifa</li>
</ul>

<h2>Mis habilidades o cualidades</h2>
<ul>
    <li>Compañerismo</li>
    <li>Liderazgo</li>
    <li>Trabajo bajo presion</li>
</ul>

<h2>Mis metas o sueños</h2>
<p>
    Graduarme de informatico<br>
    Ser ingeniero algún día
</p>

</body>
</html>
