<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kevin Morales</title>
</head>
<body>
    <h1>Vehiculo de Kevin Morales</h1>
        <p>Marca del Vehiculo: <span th:text="${vehiculo.marca}">Marca</span></p>
        <p>Modelo: <span th:text="${vehiculo.modelo}">Modelo</span></p>
        <p>Anio: <span th:text="${vehiculo.anio}">XXXX</span></p>
        <p>Color: <span th:text="${vehiculo.color}">Color</span></p>
        <p>Placa: <span th:text="${vehiculo.placa}">P XXX ABC</span></p>
</body>
</html>