<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Información Kevin Morales</title>
    <style>
        body { font-family: 'Segoe UI', sans-serif; margin: 0; padding: 0; color: #333; text-indent: 35px; }
        p { text-indent: 80px; }
        .btn { display: inline-block; margin-top: 15px; padding: 10px 20px; text-indent: 0; background: #e74c3c;
               color: #fff; border-radius: 8px; font-weight: bold; }
    </style>
</head>
<body>
    <a th:href="@{/kevin}" class="btn">⬅ Volver al catálogo</a>

    <h1>Datos Personales</h1>

    <p><strong>Nombre: </strong>Kevin Eduardo Morales Solís</p>
    <p><strong>Edad: </strong>17 años</p>
    <p><strong>Instituto: </strong>Centro Educativo Técnico Laboral Kinal</p>
    <p><strong>Grado: </strong>5to. Perito</p>
    <p><strong>Códigos Académicos: </strong>IN5BM, PE5EM</p>
    <p><strong>País: </strong>Guatemala</p>

<h2>Sobre mí</h2>
    <p>
        Yo soy Kevin Morales. Estudio en Kinal con el objetivo de obtener una beca.
        Es por eso que siempre doy el máximo esfuerzo y trato de ser constante con mi trabajo.
    </p>

<h2>Mis Pasatiempos</h2>
    <ul>
        <li>Juegos Competitivos</li>
        <li>Practicar Karate</li>
        <li>Escuchar Música</li>
    </ul>

<h2>Objetivos</h2>
    <p>
        Al salir de Kinal, quisiera iniciar una carrera universitaria de Ingeniería en Sistemas,
        completarla con satisfacción y conseguir un trabajo en donde pueda poner en práctica mis conocimientos.
    </p>
</body>
</html>