<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Vehículos</title>
</head>
<body>

<h1>Listado de Vehículos</h1>

<table border="1">
  <thead>
  <tr>
    <th>Placa</th>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Año</th>
    <th>Color</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="v : ${vehiculos}">
    <td th:text="${v.placa}"></td>
    <td th:text="${v.marca}"></td>
    <td th:text="${v.modelo}"></td>
    <td th:text="${v.anio}"></td>
    <td th:text="${v.color}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>
